/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.sm-img{
    float: left;
    padding: 5px;
    height: 35px;
    width: 50px;
    border-radius: 50%;
    display: block;
    object-fit: cover    
}